---
layout: default
---
{% if site.mathjax == true %}

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
	<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { extensions: ["enclose.js", "color.js", "AMSmath.js", "AMSsymbols.js"] } 
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
TeX: {
  extensions: ["noUndefined.js"],
  noUndefined: {
    attributes: {
      mathcolor: "red",
      mathbackground: "#FFEEEE",
      mathsize: "90%"
    }
  }
} });
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
  extensions: ["noErrors.js"],
  noErrors: {
    inlineDelimiters: ["",""],   // or ["$","$"] or ["\\(","\\)"]
    multiLine: true,             // false for TeX on all one line
    style: {
      "font-size":   "90%",
      "text-align":  "left",
      "color":       "black",
      "padding":     "1px 3px",
      "border":      "1px solid"
      // add any additional CSS styles that you want
      //  (be sure there is no extra comma at the end of the last item)
    }
  }
} });
</script>

<script type="text/javascript" id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.0/es5/latest?tex-mml-chtml.js"> </script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

{% endif %}
<div class="content container">
    <div class="post-date">
        <time>{{ page.date | date: '%B %d, %Y '}}</time>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</div>
<hr />
<div class="container">
    {% include share.html %}
</div>

{% if site.about_footer %}
    {% include about.html %}
{% endif %}

{% if site.facebook_comments %}
    {% include fb_comments.html %}
{% endif %}

{% include disqus.html %}
